*{
    margin: 0;
    padding: 0;
    
}

body{

    text-align: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(175, 191, 196);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 30px;
    width: auto;
    box-shadow: 0 0 5px rgba(0,0,0,0.4);
   
}

form{
    display: flex;
    flex-direction: column;
    padding: 10px;

}
label{
    text-align: center;
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    content-visibility: visible;

}

input{
    text-align: center;
    backface-visibility: inherit;
    background-color: #e1eded;
    height: 40px;
    width: 100%;
    border-radius: 20px;
    margin-left: 0;
    margin-right: 20px;
      
}

#message1{
    border-radius: 15px;
    background-color: rgb(98, 98, 164);
    height: 40px;
    width: 100px;
    margin-left: 85px;
    
    
}

textarea{
    text-align: center;
    backface-visibility: inherit;
    background-color: #e1eded;
    height: 100px;
    width: 250px;
    border-radius: 10px;
    padding-left :10px;
    padding-right:20px;

}
    
#formulaire {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 30px;
    width: 300px;
    box-shadow: 0 0 5px rgba(0,0,0,0.4);
    background-color: rgb(112, 117, 104);
}


